<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Upload Doing Tasks')"></head>
<body>
<div class="container-fluid text-xs-center">
    <div class="row"> <!-- row -->
        <div th:replace="layout :: nav"></div>
        <div th:replace="layout :: flash"></div>

        <div class="container tasks">
            <div class="col task">
                <div class="bg">
                    <p class="title">Doing</p>
                    <form th:object="${doing}" th:action="@{${action}}" method="post" id="form_2">
                        <input type="hidden" th:field="*{id}"/>
                        <div class="form-group">
                            <textarea th:field="*{description}" name="doing" class="form-control" id="doing"
                                      rows="3"></textarea>
                            <div class="form-group color-select">
                                <label>Select color:</label>
                                <select th:field="*{colorCode}" name="colorDoing" class="form-control color">
                                    <option th:style="|color:${color.hexCode}|" th:each="color : ${colors}"
                                        th:value="${color.hexCode}" th:text="${color.name}">Aqua
                                    </option>
                                </select>
                            </div>
                            <div class="form-group category-select">
                                <label>Select category:</label>
                                <select th:field="*{category}" name="categoryDoing" class="form-control category">
                                    <option th:each="category : ${categories}" th:value="${category.name}"
                                        th:text="${category.name}">BIPA1
                                    </option>
                                </select>
                            </div>
                            <div class="form-group person-select">
                                <label>Select user:</label>
                                <select th:field="*{person.id}" name="personDoing" class="form-control person-select">
                                    <option th:each="person : ${people}" th:value="${person.id}"
                                        th:text="${person.username}">hskrony
                                    </option>
                                </select>
                            </div>
                            <div class="form-group project-select">
                                <label>Select project:</label>
                                <select th:field="*{project}" name="projectDoing" class="form-control project-select">
                                    <option th:each="project : ${projects}" th:value="${project.name}"
                                        th:text="${project.name}">Programming
                                    </option>
                                </select>
                            </div>
                            <input name="submitButton" class="btn btn-primary" type="submit" th:value="${submit}"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div th:replace="layout :: footer"></div>
    </div>
</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>