<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('To Do Tasks')"></head>
<body>
    <div class="container-fluid text-xs-center">
        <div class="row"> <!-- row -->
            <div th:replace="layout :: nav"></div>
            <div th:replace="layout :: flash"></div>

            <div class="container tasks">
                <div th:each="todo : ${todos}" class="col-md-6 task">
                    <div th:style="|background-color:${todo.colorCode}|" class="to-do bg">
                        <p class="title-to-do">To Do</p>
                            <div class="form-group">
                                <p class="text">Upload date: <span class="text-detail" th:text="${todo.uploadDate}"></span></p>
                                <p class="text">Description: <span class="text-detail" th:text="${todo.description}"></span></p>
                                <p class="text">Project: <span class="text-detail" th:text="${todo.project}"></span></p>
                                <p class="text">Author: <span class="text-author" th:text="${todo.person.username}"></span></p>
                                <ul>
                                    <li><a th:href="@{|/${todo.id}|}"><button name="edit" type="button" class="btn btn-success btn-edit">Detail</button></a></li>
                                </ul>
                            </div>
                    </div>
                </div>
            </div>

            <div th:replace="layout :: footer"></div>

        </div>
    </div>
    <div th:replace="layout :: scripts"></div>
</body>
</html>